.main{
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    margin-top: 50px;
}
.image_section1{
    flex-direction: column;
    width: 35%;
    height: 40%;
    margin-left: 140px;
}
.image_section2{
    flex-direction: column;
    width: 34%;
    height:40%;
    margin-top: 67px;
}
.image_section3{
    flex-direction: column;
    width:35%;
    height: 40%;
    margin-right: 40px;
}
.image1,.image2{
    height: 100%;
    width: 82%;

}
.image3,.image4{
    height: 100%;
    width: 80%;
}
.image5,.image6{
    width: 78%;
    height: 100%;
}
.main .rorate{
    transform: rotate(90deg);
}
header{
    display: flex;
    justify-content: space-around;
}
footer{
    margin-top: auto;
    margin-left: 200px;
    color: rgb(116, 108, 108);
    margin-left: 35%;
}
.rorate{
    margin-left: 224px;
    position: absolute;
    margin-top: 38px;
}


